@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {


} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: var(--text-color); */
}

hr{
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}